<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Homepage {% endblock %}</title>
</head>
<body>
    <header>
        <h1>HTML</h1>
    </header>
    <br>
    <main>
        <div class="conteiner">
            <div class="menu">
                <a href="/homepage">Home</a></br>
                <a href="/tutorial_html">Tutorial HTML</a><br>
                <a href="/introducao_html">Introdução ao HTML</a><br>
            </div>
            <div class="display">
                    {% block content %}
                    
                    
                    {% endblock %}
            </div>
        </div>
    </main>
    <br>
    <footer>
        

    </footer>    
</body>
</html>