{% extends 'bases/basecss.html' %}


{% block title %} CSS {% endblock %}

{% block content %}
<h2>Tutorial CSS</h2>

<h3>Aprenda CSS</h3>
<p>
CSS é a linguagem que usamos para estilizar um documento HTML.</p>

<p>CSS descreve como os elementos HTML devem ser exibidos.</p>

Este tutorial lhe ensinará CSS do básico ao avançado.</p>

<h3>Exemplos em cada capítulo</h3>
<p>Este tutorial de CSS contém centenas de exemplos de CSS.</p>

<p>Com nosso editor on-line, você pode editar o CSS e clicar em um botão para visualizar o resultado.</p>
<img src="{{ url_for('static', filename='imgs/imgs_css/imgcss01.png')}}">
      
<h3>Exemplos de CSS</h3>

<p>Aprenda com mais de 300 exemplos! Com o nosso editor, você pode editar o CSS e clicar em um botão para visualizar o resultado.</p>
{% endblock %}